*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px 100px;
}
.header h1{
    font-size: 55px;
}
.main{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    padding-left: 60px;
    
}
.left-main{
    display: flex;
    flex-direction: column;
}
.chil-left{
    display: flex;
    justify-content:center;
  
    align-items: center;
    gap: 18px;
    padding: 10px;
}
.chil-left img{
    width: 300px;
    height: 200px;
    border-radius: 4px;
}
.chil-left h2{
    margin-bottom: 15px;
    font-size: 20px;
}
.chil-left p{
    margin-bottom: 10px;
    font-size: 20px;
}
.chil-left .lacag{
    font-weight: bold;
    font-size: 24px;
}

.chil-left button{
    background-color: red;
    padding: 15px 30px;
    font-size: 28px;
    border-radius: 8px;
    border-style: none;
    margin-bottom: -15px;
    color: white;
    
}
.rigth-main{
    display: flex;
    flex-direction: column;
}
.chill-rigth{
    display: flex;
    justify-content: center;
  align-items: center;
    gap: 16px;
    padding: 10px;
}
.chill-rigth img{
    width: 300px;
    height: 200px;
    border-radius: 4px;
}
.chill-rigth h2{
    font-size: 22px;
    margin-bottom: 12px;

}
.chill-rigth p{
     margin-bottom: 10px;
    font-size: 20px;
}
.chill-rigth .money{
    font-weight: bold;
    font-size: 24px;
}
.chill-rigth button{
    background-color: red;
    color: white;
    padding: 15px 30px;
    border-style: none;
    font-size: 28px;
    border-radius: 8px;
    margin-bottom: -15px;
}
.footer{
    background-color: red;
    padding: 20px;
    margin-top: 40px;
}
@media screen and (max-width:320px) {
    .header{
        background-color: yellow;
        color: black;
        padding: 10px 15px;
    }
    .header h1{
        font-size: 28px;

    }
    .main{
        display: block;
        padding-left: 0px;

    }
    .chil-left{
        display: block;
        margin-bottom: 2rem;
    }
    .chil-left .chill-rigth .lacag{
        font-size: 26px;
    }
    .chill-rigth{
        display: block;
    }
    .chil{
        margin-left: 0rem;
        text-align: center;
        margin-bottom: 0.3rem;
    }
    .chil button{
        border-radius: 20px;
        padding: 20px 24px;
    }
    .footer{
        background-color: yellow;
        color: black;
        padding: 10px 20px;
    }
    
}
@media (min-width:321px) and (max-width:390px) {
    .header{
        background-color: yellow;
        padding: 20px 24px;
        color: black;
        font-weight: bolder;
    }
    .header h1{
        font-size: 32px;
    }
    .main{
        display: block;
        padding: 0px;
        margin-left: 1.3rem;

    }
    .main img{
        border-top-left-radius: 24%;
        width: 320px;
        height: 250px;
    }
    .chil-left,.chill-rigth{
        display: block;
        
    }
    .chil{
        text-align: center;
        margin-bottom: 1.3rem;
        margin-right: 3rem;
        align-content: start;
    }
    .chil h2{
        font-size: 32px;
    }
    .chil p{
        font-size:24px ;
        color: red;
    }

    
}
@media screen and (min-width:391px) and (max-width:428px) {
    .header{
        background-color: red;
        color:white;
        padding: 23px 30px;
    }
    .header h1{
        font-size: 3rem;
    }
    .main{
        padding: 0px;
        margin-left: 0.6rem;
    }
    .main img{
        width: 350px;
        height: 300px;
        border-radius: 20% 40px;
    }
    .main,.chil-left,.chill-rigth{
        display: block;
    }
    .chil{
        text-align: center;
        margin-bottom: 1.2rem;
        color: red;
    }
    .chil h2{
        font-size: 3rem;
        color: black;
    }
    .chil p{
        font-size: 1.7rem;
        color: blue;
        font-family: monospace;
    }
     .chil .money{
        font-size: 1.2rem;
        color: blue;
    }
    .chil button{
        padding: 24px 35px;
        border-bottom-right-radius: 25px;
        background-color: red;
        color: white;
        font-weight: bold;
    }
    .footer{
        background-color: red;
    }

    
}
